<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--==================== FONTS ====================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap" rel="stylesheet">

    <!--==================== BOOTSTRAP ====================-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!--==================== CSS ====================-->
    <link rel="stylesheet" href="../static/admin/css/about.css">

    <title>Language School</title>
</head>
<body>
    <!--==================== HEADER ====================-->
    <section class="header">
        <div class="container header__container">
            <nav class="navbar navbar-expand-lg my-2 header__navbar">
                <a class="navbar-brand d-flex" href="#">
                    <img src="../static/admin/img/logo.svg" alt="Language School">
                    <span class="logo-text">Language <br> School</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item mx-2">
                            <a class="nav-link menu-link active" href="#">Home</a>
                        </li>

                        <li class="nav-item mx-2">
                            <a class="nav-link menu-link" href="#">About</a>
                        </li>

                        <li class="nav-item mx-2">
                            <a class="nav-link menu-link" href="#">Courses</a>
                        </li>

                        <li class="nav-item mx-2">
                            <a class="nav-link menu-link" href="#">Log in</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <!--==================== BODY ====================-->
    <section class="body">
        <div class="container body__container">
            <div class="row">
                <div class="col-7">
                    <div class="body__box">
                        <h2 class="title-h2">Школа “Лавита”</h2>
                        <p class="description">
                            Eleifend purus dictum nunc, aenean tincidunt massa libero. <br>
                            Aliquam nullam enim at ac. Imperdiet risus mi quis vitae <br> non. 
                            Cursus scelerisque donec vulputate ante etiam libero <br> donec ridiculus 
                            at. Phasellus at nullam dapibus ut in. <br> Vulputate consequat purus tellus 
                            vel cras. Eu sollicitudin <br> arcu faucibus turpis venenatis. <br>
                        </p>
                        <p></p>
                        <p class="description">
                            Aliquet auctor tempus, erat at interdum eu. Sapien amet, <br> amet sit non 
                            at sodales volutpat. Cursus et laoreet eget <br> velit a tortor eu nibh mattis. 
                            Mi facilisi ultrices maecenas id.
                        </p>
                    </div>
                </div>

                <div class="col-5">
                    <img class="background-img" src="../static/admin/img/background-img.png" alt="">
                </div>

                <div class="col-2"></div>
                <div class="col-8">
                    <h1 class="title-h1 text-center">About</h1>
                    <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Nisi magnam porro rem ut minus molestiae id nihil <br>
                        <br>
                        doloremque magni ullam perferendis tempora nemo provident, perspiciatis mollitia. 
                        Tempora, similique ut. Ducimus <br>
                        <br>
                        ratione suscipit temporibus nemo quo consequatur nihil modi illo eum aperiam commodi 
                        dolor at alias facilis, vitae <br>
                        <br>
                        quibusdam eos ad?
                    </p>
                </div>
                <div class="col-2"></div>

                <div class="col-2"></div>
                <div class="col-8">
                    <h3 class="title-h3">Shedule</h3>
                </div>
                <div class="col-2"></div>

                <div class="col-2 mb-3"></div>
                <div class="col-8 mb-3">
                    <table class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th class="col-2">Группы</th>
                                <th class="col-3">Интенсивность</th>
                                <th class="col-7">Стоимость</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <p></p>
                                    8-9 лет
                                </td>
                                <td>
                                    <p></p>
                                    <span>2 раза в неделю по 2 ак. часа</span>
                                    <span>17:00 - 18:30</span>
                                </td>
                                <td>
                                    <p></p>
                                    <p><span class="price">28 800 р.</span>  (1 ак. час = 600 р.) за 24 занятия</p>
                                    <p>Оплата 3 раза в год</p>
                                    <p>Стоимость обучения рассчитывается по фактическому количеству занятий, в соответствии с учебным планов</p>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p></p>
                                    8-9 лет
                                </td>
                                <td>
                                    <p></p>
                                    <span>2 раза в неделю по 2 ак. часа</span>
                                    <span>17:00 - 18:30</span>
                                </td>
                                <td>
                                    <p></p>
                                    <p><span class="price">28 800 р.</span>  (1 ак. час = 600 р.) за 24 занятия</p>
                                    <p>Оплата 3 раза в год</p>
                                    <p>Стоимость обучения рассчитывается по фактическому количеству занятий, в соответствии с учебным планов</p>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p></p>
                                    8-9 лет
                                </td>
                                <td>
                                    <p></p>
                                    <span>2 раза в неделю по 2 ак. часа</span>
                                    <span>17:00 - 18:30</span>
                                </td>
                                <td>
                                    <p></p>
                                    <p><span class="price">28 800 р.</span>  (1 ак. час = 600 р.) за 24 занятия</p>
                                    <p>Оплата 3 раза в год</p>
                                    <p>Стоимость обучения рассчитывается по фактическому количеству занятий, в соответствии с учебным планов</p>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p></p>
                                    8-9 лет
                                </td>
                                <td>
                                    <p></p>
                                    <span>2 раза в неделю по 2 ак. часа</span>
                                    <span>17:00 - 18:30</span>
                                </td>
                                <td>
                                    <p></p>
                                    <p><span class="price">28 800 р.</span>  (1 ак. час = 600 р.) за 24 занятия</p>
                                    <p>Оплата 3 раза в год</p>
                                    <p>Стоимость обучения рассчитывается по фактическому количеству занятий, в соответствии с учебным планов</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-2 mb-3"></div>
            </div>
        </div>
    </section>

    <!--==================== FOOTER ====================-->
    <footer class="footer">
        <div class="container footer__container">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <img class="mb-5" src="../static/admin/img/dots.svg" alt="">
                    <form>
                        <div class="form-group">
                            <input type="text" placeholder="NAME">
                        </div>
                        <div class="form-group">
                            <input type="tel" placeholder="TEL NUMBER">
                        </div>
                    </form>
                </div>
                <div class="col-3"></div>

                <div class="col-3"></div>
                <div class="col-6">
                    <form class="my-4">
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                        <div class="sites-link">
                            <div style="margin-bottom: 34px;">
                                <a class="links" href="#">
                                <img src="../static/admin/img/telegram.svg" alt="Telegram">
                            </a></div>
                            <div style="margin-bottom: 34px;">
                                <a class="links" href="#">
                                    <img src="../static/admin/img/youtube.svg" alt="YouTube">
                                </a>
                            </div>
                            <div>
                                <a class="links" href="#">
                                    <img src="../static/admin/img/wk.svg" alt="Wk">
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-3"></div>

                <div class="col-3"></div>
                <div class="col-6">
                    <div class="info">
                        <div>
                            <button class="send-button" type="submit">
                                <p style="margin-left: 23px; margin-top: 13px;">SEND</p>
                            </button>
                        </div>
                        <div>
                            <div class="d-flex align-items-center">
                                <img src="../static/admin/img/location.svg" alt="">
                                <a href="#" class="info-text">Eu faucibus et rutrum fringilla orci nunc</a>
                            </div>
                            <div class="d-flex" style="margin-top: 10px;">
                                <div class="d-flex align-items-center">
                                    <img src="../static/admin/img/phone.svg" alt="">
                                    <a href="tel:8 (812) 123-45-67" class="info-text">8 (812) 123-45-67</a>
                                </div>
                                <div class="d-flex align-items-center" style="margin-left: 25px;">
                                    <img src="../static/admin/img/massage.svg" alt="">
                                    <a href="email:test@test.ru" class="info-text">test@test.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </footer>

    <section class="footer-menu">
        <div class="container footer-menu__container">
            <div class="row">
                <div class="col-6 text-center">
                    <p class="my-4">2022 © Est et viverra pellentesque pharetra lorem proin in. Vitae magna at tempus commodo.</p>
                </div>
                <div class="col-6">
                    <div class="navbar navbar-expand-lg my-2 header__navbar">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item mx-2">
                                    <a class="nav-link menu-link active" href="#" style="color: #FFFFFF;">Home</a>
                                </li>
        
                                <li class="nav-item mx-2">
                                    <a class="nav-link menu-link" href="#" style="color: #FFFFFF;">About</a>
                                </li>
        
                                <li class="nav-item mx-2">
                                    <a class="nav-link menu-link" href="#" style="color: #FFFFFF;">Courses</a>
                                </li>
        
                                <li class="nav-item mx-2">
                                    <a class="nav-link menu-link" href="#" style="color: #FFFFFF;">Log in</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--==================== BOOTSTRAP ====================-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>